.tom{
    /* color:; */
}

/* for MOBILE VIEW */
@media(max-width: 767px) { 
    .jerry{
        width:100%;
        height: 50%;
    }
    #queue{
        display: none;
    }
  }


/* PC VIEW */
@media(min-width: 768px){
    .jerry{
        width:50%;
        height:50%;
    }
    #queue{
        width:65%;
        height: 90%;
    }
}